@charset "UTF-8";
/* line 1, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
img {
  width: 100%;
}

/* line 11, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

@-ms-viewport {
  width: device-width;
}

/* line 25, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 29, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  height: 100%;
}

/* line 41, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
[tabindex="-1"]:focus {
  outline: none !important;
}

/* line 45, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 51, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* line 56, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 61, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

/* line 70, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/* line 76, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 83, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* line 90, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
dt {
  font-weight: 700;
}

/* line 94, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

/* line 99, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
blockquote {
  margin: 0 0 1rem;
}

/* line 103, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
dfn {
  font-style: italic;
}

/* line 107, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 112, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
small {
  font-size: 80%;
}

/* line 116, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 124, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
sub {
  bottom: -.25em;
}

/* line 128, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
sup {
  top: -.5em;
}

/* line 132, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 139, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
a:hover {
  color: #0056b3;
  text-decoration: none;
}

/* line 144, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

/* line 149, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

/* line 154, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* line 158, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 166, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

/* line 173, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
figure {
  margin: 0 0 1rem;
}

/* line 177, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 182, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 186, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 199, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
table {
  border-collapse: collapse;
}

/* line 203, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

/* line 211, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
th {
  text-align: inherit;
}

/* line 215, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
label {
  display: inline-block;
  margin-bottom: .5rem;
}

/* line 220, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
button {
  border-radius: 0;
}

/* line 224, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* line 229, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 240, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
button,
input {
  overflow: visible;
}

/* line 245, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 250, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 257, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* line 265, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 271, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/* line 278, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
textarea {
  overflow: auto;
  resize: vertical;
}

/* line 283, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 290, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

/* line 302, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
progress {
  vertical-align: baseline;
}

/* line 306, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 311, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

/* line 316, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 321, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

/* line 326, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
output {
  display: inline-block;
}

/* line 330, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
summary {
  display: list-item;
}

/* line 334, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
template {
  display: none;
}

/* line 338, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/_reset.scss */
[hidden] {
  display: none !important;
}

/* line 7, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.promo-2013, .promo-2018, .promo-2020 {
  display: none;
}

@font-face {
  font-family: 'Poppins';
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

/* line 16, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
body {
  background: white;
  font-family: 'Poppins', sans-serif;
}

/* line 22, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
h1, h2 {
  text-align: center;
  background: #333333;
  padding: 10px;
  color: white;
}

/* line 29, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
h2 {
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
}

/* line 35, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
li {
  list-style-type: none;
  text-align: center;
}

/* line 40, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
ul {
  padding: 0;
}

/* line 44, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
img {
  width: 150px;
  height: 150px;
  padding: 10px;
}

/* line 51, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.tools a {
  font-size: 20px;
}

/* line 58, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.classroom li, .teachers li {
  width: 220px;
  background: linear-gradient(#004E90, #A51363);
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

/* line 66, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.classroom li li, .teachers li li {
  box-shadow: 0px 0px 0px 0px #333333;
}

/* line 70, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.classroom li li:hover, .teachers li li:hover {
  box-shadow: 0px 0px 0px 0px #333333;
}

/* line 75, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.classroom li:hover, .teachers li:hover {
  box-shadow: 0px 0px 5px 5px #333333;
}

/* line 80, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.networks_links {
  display: flex;
  flex-direction: row;
}

/* line 84, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.networks_links li {
  width: 100px;
  text-align: center;
  background: transparent;
}

/* line 96, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.networks_links a:hover {
  color: white;
}

/* line 101, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
h4 {
  color: white;
  font-weight: normal;
  font-size: 20px;
}

/* line 109, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.teaching li {
  font-size: 20px;
  width: 150px;
  text-align: center;
  background: transparent;
  color: white;
}

/* line 118, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.github {
  background-image: url("https://cesarwatrin.github.io/tp_css_zen_garden/github.svg");
  background-position: center;
  background-size: cover;
  height: 50px;
  font-size: 0px;
  padding: 20px;
}

/* line 127, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.github:hover {
  background-image: url("https://cesarwatrin.github.io/tp_css_zen_garden/githubHover.svg");
}

/* line 131, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.linkedin {
  background-image: url("https://cesarwatrin.github.io/tp_css_zen_garden/linkedin.svg");
  background-position: center;
  background-size: cover;
  height: 50px;
  font-size: 0px;
  padding: 20px;
}

/* line 140, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.linkedin:hover {
  background-image: url("https://cesarwatrin.github.io/tp_css_zen_garden/linkedinHover.svg");
}

/* line 146, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.teachers ul {
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  max-width: 710px;
  overflow: auto;
}

/* line 153, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.teachers ul li {
  margin: 0 10px;
}

/* line 157, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.teachers ul ul {
  margin: 0;
  overflow: hidden;
}

/* line 161, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.teachers ul ul li {
  width: 220px;
  margin: 10px auto;
  padding: 10px;
}

/* line 176, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.outro {
  max-width: 850px;
  margin: 20px auto;
  background-color: #333333;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

/* line 186, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.miw_contact {
  background-color: #333333;
  color: white;
  overflow-x: hidden;
}

/* line 191, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.miw_contact h4 {
  font-size: 25px;
  padding: 5px 20px;
}

/* line 196, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
.miw_contact * {
  padding: 5px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  /* line 205, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .classroom {
    max-width: 992px;
  }
  /* line 208, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .classroom ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: rotateX(180deg);
  }
  /* line 214, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .classroom ul li {
    transform: rotateX(-180deg);
  }
  /* line 222, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .miw_contact li {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  /* line 231, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .students, .sidebar {
    display: table-cell;
    text-align: center;
  }
  /* line 236, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .students {
    width: 75%;
  }
  /* line 240, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .sidebar {
    width: 30%;
  }
  /* line 246, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .teachers ul {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  /* line 251, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .teachers ul li {
    margin: 10px;
  }
  /* line 255, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .teachers ul ul {
    flex-direction: row;
  }
}

@media print {
  /* line 264, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  * {
    background-color: white;
  }
  /* line 268, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  h1, h2, h3, h4 {
    color: #333333;
  }
  /* line 272, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .tools, .footer, .teachers {
    display: none;
  }
  /* line 278, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .students ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 284, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .students ul * {
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 0px 0px white;
  }
  /* line 290, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .students ul img {
    width: 50px;
    height: 50px;
  }
  /* line 299, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .classroom ul {
    transform: rotateX(180deg);
  }
  /* line 302, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .classroom ul li {
    transform: rotateX(-180deg);
  }
}

@media (prefers-color-scheme: dark) {
  /* line 311, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  body {
    background: #333333;
  }
  /* line 315, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  img {
    filter: grayscale(30%);
  }
  /* line 319, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .intro {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
  }
  /* line 326, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .classroom li, .teachers li {
    background: #333333;
    border: 1px solid white;
  }
  /* line 332, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .classroom li ul li, .teachers li ul li {
    border: 0px solid;
  }
  /* line 345, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .classroom li ul li {
    width: 50%;
  }
  /* line 352, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .outro {
    border: 1px solid white;
  }
  /* line 356, ../César/Documents/MIW/Integration_2/github/tp_css_zen_garden/scss/style.scss */
  .miw_contact {
    border-top: 1px solid white;
  }
}

/*# sourceMappingURL=style.css.map */