@import 'reset';

$red: #A51363;
$blue: #004E90;
$black: #333333;

.promo-2013, .promo-2018, .promo-2020 {
   display: none;
}

@font-face {
   font-family: 'Poppins';
   src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

body {
   background: white;
   font-family: 'Poppins', sans-serif;
}


h1, h2 {
   text-align: center;
   background: $black;
   padding: 10px;
   color: white;
}

h2 {
   border-radius: 10px;
   max-width: 300px;
   margin: 0 auto;
}

li {
   list-style-type: none;
   text-align: center;
}

ul {
   padding: 0;
}

img {
   width: 150px;
   height: 150px;
   padding: 10px;
}

.tools {
   a {
      font-size: 20px;
   }
}

.classroom, .teachers {

   li {
      width: 220px;
      background: linear-gradient($blue, $red);
      margin: 20px auto;
      padding: 10px;
      border-radius: 10px;
      transition: 0.5s;

      li {
         box-shadow: 0px 0px 0px 0px $black;
      }

      li:hover {
         box-shadow: 0px 0px 0px 0px $black;
      }
   }

   li:hover {
      box-shadow: 0px 0px 5px 5px $black;
   }
}

.networks_links {
   display: flex;
   flex-direction: row;

   li {
      width: 100px;
      text-align: center;
      background: transparent;
   }

   // a {
   //    padding: 2em 0;
   //    font-size: 20px;
   //    transition: 0.5s;
   // }

   a:hover {
      color: white;
   }
}

h4 {
   color: white;
   font-weight: normal;
   font-size: 20px;
}

.teaching {

   li {
      font-size: 20px;
      width: 150px;
      text-align: center;
      background: transparent;
      color: white;
   }
}

.github {
   background-image: url('https://cesarwatrin.github.io/tp_css_zen_garden/github.svg');
   background-position: center;
   background-size: cover;
   height: 50px;
   font-size: 0px;
   padding: 20px;
}

.github:hover {
   background-image: url('https://cesarwatrin.github.io/tp_css_zen_garden/githubHover.svg');
}

.linkedin {
   background-image: url('https://cesarwatrin.github.io/tp_css_zen_garden/linkedin.svg');
   background-position: center;
   background-size: cover;
   height: 50px;
   font-size: 0px;
   padding: 20px;
}

.linkedin:hover {
   background-image: url('https://cesarwatrin.github.io/tp_css_zen_garden/linkedinHover.svg');
}

.teachers {

   ul {
      margin: 40px auto;
      display: flex;
      flex-direction: row;
      max-width: 710px;
      overflow: auto;

      li {
         margin: 0 10px;
      }

      ul {
         margin: 0;
         overflow: hidden;

         li {
            width: 220px;
            margin: 10px auto;
            padding: 10px;
         }
      }
   }
}

// .footer {
//    margin-top: 50px;
//    background-color: #222222;
//    color: white;
// }

.outro {
   max-width: 850px;
   margin: 20px auto;
   background-color: $black;
   color: white;
   border-radius: 10px;
   padding: 10px;
   text-align: left;
}

.miw_contact {
   background-color: $black;
   color: white;
   overflow-x: hidden;

   h4 {
      font-size: 25px;
      padding: 5px 20px;
   }

   * {
      padding: 5px;
      text-align: left;
   }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {

   .classroom {
      max-width: 992px;

      ul {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         transform: rotateX(180deg);

         li {
            transform: rotateX(-180deg);
         }
      }
   }

   .miw_contact {

      li {
         text-align: center;
      }
   }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {

   .students, .sidebar {
      display: table-cell;
      text-align: center;
   }

   .students {
      width: 75%;
   }

   .sidebar {
      width: 30%;
   }

   .teachers {

      ul {
         flex-direction: column;
         align-items: center;
         margin: 10px;

         li {
            margin: 10px;
         }

         ul {
            flex-direction: row;
         }
      }
   }
}

@media print {

   * {
      background-color: white;
   }

   h1, h2, h3, h4 {
      color: $black;
   }

   .tools, .footer, .teachers {
      display: none;
   }

   .students {

      ul {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;

         * {
            padding: 0;
            margin: 0;
            box-shadow: 0px 0px 0px 0px white;
         }

         img {
            width: 50px;
            height: 50px;
         }
      }
   }

   .classroom {

      ul {
         transform: rotateX(180deg);

         li {
            transform: rotateX(-180deg);
         }
      }
   }
}

@media (prefers-color-scheme: dark) {

   body {
      background: $black;
   }

   img {
      filter: grayscale(30%);
   }

   .intro {
      border-bottom: 1px solid white;
      margin-bottom: 10px;
   }

   .classroom, .teachers {

      li {
         background: $black;
         border: 1px solid white;

         ul {

            li {
               border: 0px solid;
            }
         }
      }
   }

   .classroom {

      li {

         ul {

            li {
               width: 50%;
            }
         }
      }
   }

   .outro {
      border: 1px solid white;
   }

   .miw_contact {
      border-top: 1px solid white;
   }
}
